<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BIG ASS MOVIE DATABASE</title>
</head>

<body>
  <a href="/movies">Back to movies</a><br>
  <a href="/actors">Back to actors</a><br>
  <%= yield %>
</body>
</html>
