<h1> BIG ASS ACTOR LIST </h1>

<% actors.each do |actor| %>
  <ul>
    <li><a href="/actors/<%= actor.id %>"><%= actor.name %></a></li>
  </ul>
<% end %>

<a href="/actors?page=<%= page_number + 1%>">Next page</a>
